.detail img {
  margin: 0px 50px 0px 10px;
  float: left;
  width: auto;
  max-width: 46%;
  height: auto;
  max-height: 100%;
  display: inline;
  position: relative;
}

/* .detail img:hover {
  transform: scale(1.5);
  max-width: 300px;
  max-height: 300px;
} */

.detail span {
  display: inline;
  float: left;
  width: 40%;
  height: 40%;
}

.detail {
  height: 300px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 30px;
  max-height: 400px;
  max-width: 920px;
}

#details-sizes {
  display: inline-flex;
  width: 100%;
}

.detail-square {
  height: 50px;
  width: 50px;
  line-height: 350%;
  position: relative;
}

#detail-add-button {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-size: 16px;
  max-width: 250px;
  position: relative;
}

.detail button {
  width: 25%;
  /* max-width: 250px; */
  margin-bottom: 5px;
  background-color: white;
  color: black;
  outline: none;
}

.detail button:hover {
  background-color: white;
  color: grey;
}

#quantity {
  display: inline-block;
  width: 45%;
  max-width: 250px;
  text-align: center;
}

#change-quantity {
  width: 100%;
  max-width: 273px;
}
