.collection {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px 10px 0px 0px;
  font-family: "Playfair Display", serif;
  font-size: xx-large;
  line-height: 170px;
}

#snow {
  height: 10%;
  width: 30%;
}

#sweater {
  width: 30%;
  height: 10%;
  margin-left: 16px;
}

#jacket {
  width: 30%;
  margin-left: 16px;
  /* max-height: 250px; */
}

.pictures {
  margin-top: 10px;
}

@media (max-width: 400px) {
  .collection {
    font-size: 20px;
  }
}

@media (min-width: 401px) {
  .collection {
    font-size: 30px;
  }
}
