#clothes-list {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  padding: 0 40px 0 40px;
  justify-content: space-between;
  width: 100%;
  /* margin-left: 150px; */
  padding: 0;
  text-align: center;
}

#clothes-list li a {
  color: black;
  text-decoration: none;
  justify-content: center;
  margin: 50px 75px 50px 75px;
}

#clothes-list li a:hover {
  border-bottom: 1px solid black;
  color: grey;
}
