.shoppingCart {
  z-index: 200;
  position: absolute;
  top: 50px;
  right: 50px;
  margin-top: 2%;
  background-color: white;
  overflow: hidden;
  line-height: 25px;
  color: black;
}

.shoppingCart:hover {
  color: black;
}
