.shoppingCart {
  z-index: 200;
  position: absolute;
  top: 50px;
  right: 50px;
  margin-top: 2%;
  background-color: white;
  overflow: hidden;
  line-height: 25px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid white;
}

.shoppingCart:hover {
  color: black;
}

#check-out {
  width: 100%;
}
