nav {
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  border-bottom: 6px solid #d3d3d3;
  height: 48px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 0;
}

nav li {
  padding: 14px 16px;
  display: block;
  margin: 0 0 0 0;
  float: left;
}

nav li:hover {
  background-color: #d3d3d3;
  color: white;
  cursor: pointer;
}

.total {
  float: right;
}

.total:hover {
  color: black;
  background-color: white;
}

.number {
  height: 18px;
  width: 18px;
  float: right;
  font-size: small;
  color: white;
  border-radius: 100%;
  background-color: #ff5677;
  text-align: center;
}

.logo span {
  font-weight: 900;
}
