nav {
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  height: 48px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  overflow: visible;
  padding: 0 0 0 0;
  margin: 0;
}

nav ul li {
  padding: 14px 16px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
  margin: 0 0 0 10px;
  justify-content: center;
  float: left;
}

nav li:hover {
  color: black;
  cursor: pointer;
}

.total {
  float: right;
}

.total:hover {
  color: black;
  background-color: white;
}

.number {
  height: 18px;
  width: 18px;
  float: right;
  font-size: small;
  color: white;
  border-radius: 100%;
  background-color: #ff5677;
  text-align: center;
}

.logo span {
  font-weight: 900;
}

#submenu {
  height: 50px;
}

.selected-style {
  color: grey;
  border-bottom: 1px solid grey;
  border-bottom-width: 50%;
}
